<div>
    <div class="modal-header" *ngIf="modalTitle">
        <h5 class="modal-title">{{modalTitle | translate}}</h5>
      <div *ngIf="configureSignerService" class="ml-auto mr--6">
        <button (click)="toggleSignerSettings()" class="btn btn-default text-secondary">
          <i class="d-none fas fa-cog"></i> {{'Signer.Settings' | translate }}
        </button>
      </div>
        <button (click)="cancel()" [disabled]="loading"
                type="button" class="close" data-dismiss="modal" aria-label="Cancel">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body pt-0">
      <div [@fadeAnimation]="showSignerSettings" *ngIf="showSignerSettings">
        <universis-signer-settings (cancel)="onCancel($event)" ></universis-signer-settings>
      </div>
        <div class="row" *ngIf="lastError">
            <div class="alert alert-warning" role="alert">
                <span>{{ 'Documents.SignError' | translate }}</span><br>
                <small *ngIf="lastError.status >= 0" [translate]="'E' + lastError.status + '.message'"></small>
                <small *ngIf="lastError.status == null">{{lastError.message}}</small>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 mt-4">
                <ng-container  *ngIf="signForm">
                    <formio #form [form]="signForm"
                            (change) = "onChange($event)"
                            [refresh] = "refreshForm"
                            (customEvent) = "onCustomEvent($event)"
                            (formLoad)="onFormLoad()"
                            [submission]="{ data: signFormData }">
                    </formio>
                </ng-container>
            </div>
            <div class="col-lg-6 col-md-6" *ngIf="item">
                <h4 class="text-center mt-4" >
                    {{item.name}}
                </h4>
                <h6 class="text-center mt-4" *ngIf="item.documentNumber" >
                    {{'Documents.DocumentNumber' | translate}}: {{item.documentNumber}}
                </h6>
                <div class="text-center py-4">
                    <i [ngClass]="{'loading-icon': loading, 'text-indigo': !loading}" class="fa fa-file fa-7x"></i>
                </div>
                <div class="text-center" *ngIf="item.dateCreated">
                    <span [translate]="'Reports.Attributes.dateCreated'"></span>
                    <span>: </span>
                    <span>{{item.dateCreated | date: 'short'}}</span>
                </div>
                <div class="text-center" *ngIf="item.dateModified">
                    <span [translate]="'Reports.Attributes.dateModified'"></span>
                    <span>: </span>
                    <span>{{item.dateModified | date: 'short'}}</span>
                </div>
                <div *ngIf="loading">
                    <div class="text-center text-indigo mt-3">
                        <span [translate]="'Documents.SignInProgress'"></span>
                    </div>
                </div>
              <ng-container *ngIf="showSignatureGraphic">
                <!--begin: signature graphic-->
                <div class="mt-4">
                    <ngx-dropzone [multiple]="false" [accept]="'image/jpeg,image/jpg,image/bmp'"  (change)="onFileSelect($event)">
                        <ngx-dropzone-label style="z-index: 0" class="p-2">{{'Documents.UploadSignatureGraphic' | translate}}</ngx-dropzone-label>
                        <ng-container *ngFor="let f of signatures">
                            <ngx-dropzone-image-preview [file]="f" [removable]="true" (removed)="onFileRemove(f)">
                            </ngx-dropzone-image-preview>
                        </ng-container>
                    </ngx-dropzone>
                    <div class="text-center mt-2">
                        <span class="text-muted" [translate]="'Documents.SignatureGraphicHelp'"></span>
                    </div>
                </div>
              </ng-container>
            </div>
        </div>
    </div>

    <div class="modal-footer justify-content-end">
        <button [disabled]="okButtonDisabled || loading" (click)="ok()"
                type="button" [ngClass]="okButtonClass">
            {{okButtonText | translate}}
        </button>
        <button [disabled]="cancelButtonDisabled || loading"
                (click)="cancel()" type="button" [ngClass]="cancelButtonClass" data-dismiss="modal">
            {{cancelButtonText | translate}}
        </button>
    </div>
</div>
