<form #form="ngForm" novalidate>
  <div class="modal-header">
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="close.emit()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- Modal Body -->
  <div class="modal-body mb-0 mt-0">
    <h2 class="font-weight-normal mb-2 text-primary text-center" [translate]="'Reports.VerificationCode.Title'">
    </h2>

    <div class="mt-5 mb-5 text-primary text-center">
      <i class="fas fa-4x fa-mobile-alt mr-3"></i>
      <i class="fas fa-4x fa-long-arrow-alt-right mr-3"></i>
      <i class="fas fa-4x fa-desktop"></i>
    </div>
    <div *ngIf="verificationCodeSent">
      <p class="text-center text-info" [translate]="'Reports.VerificationCode.Sent'"></p>
    </div>
    <div *ngIf="verificationCodeSentError">
      <p class="text-center text-danger" [translate]="'Reports.VerificationCode.SentError'"></p>
    </div>
    <label [translate]="'Reports.VerificationCode.Label'"></label>
    <div class="form-group">
      <input
        #verificationInput
        [required]="true"
        tabindex="1"
        type="password"
        (keyup)="onKeyEnter($event)"
        [(ngModel)]="verificationCode"
        class="form-control form-control-lg text-center"
        id="verificationCode"
        name="verificationCode"
      />
    </div>
  </div>
  <!-- Modal Footer -->
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-theme"
      data-dismiss="modal"
      [disabled]="form.invalid"
      (click)="doVerify()"
      [translate]="'Reports.VerificationCode.Verify'">
    </button>
    <button
      type="button"
      class="btn btn-light"
      data-dismiss="modal"
      (click)="close.emit()"
      [translate]="'Cancel'">
    </button>
  </div>
</form>
