<div>
  <div class="modal-header" *ngIf="modalTitle">
    <h4 class="modal-title">{{modalTitle | translate}}</h4>
    <button (click)="cancel()" type="button" class="close" data-dismiss="modal" aria-label="Cancel">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body pt-0" *ngIf="!loading">
    <!-- start signer service offline -->
    <!-- <ng-container *ngIf="(signerStatus == null) || (signerStatus && signerStatus.status !== 200)">
      <div class="alert alert-danger" role="alert">
        <h5 class="alert-heading" [translate]="'SignerOfflineCannotVerify.Title'"></h5>
        <p [translate]="'SignerOfflineCannotVerify.Info'"></p>
        <hr>
        <p class="mb-0" [translate]="'SignerOfflineCannotVerify.Suggestion'"></p>
      </div>
    </ng-container> -->
    <!-- end signer service offline -->
    <!-- start display error -->
    <ng-container *ngIf="lastError">
      <div class="row">
        <div class="col-12">
          <div class="alert alert-danger" role="alert">
            <h5 class="alert-heading">{{ 'SignerOfflineCannotVerify.Title' | translate }}</h5>
            <hr>
            <p *ngIf="lastError.status >= 0" [translate]="'E' + lastError.status + '.message'"></p>
            <p *ngIf="lastError.status == null">{{lastError.message}}</p>
          </div>
        </div>
      </div>
    </ng-container>
    <!-- end display error -->
    <!-- start display no signatures -->
    <ng-container *ngIf="!loading && signatureVerificationResults && signatureVerificationResults[0] && signatureVerificationResults[0].certificates && signatureVerificationResults[0].certificates.length === 0 else showSignatureInfo;">
      <div class="alert alert-info" role="alert">
        <h5 class="alert-heading" [translate]="'FileDoesNotContainSignatures.Title'"></h5>
        <p [translate]="'FileDoesNotContainSignatures.Info'"></p>
      </div>
    </ng-container>
    <!-- end display no signatures -->
    <!-- start display signature info -->
    <ng-template #showSignatureInfo>
      <ng-container *ngIf="signatureProperties && signatureProperties.length">
        <div class="alert alert-info" role="alert">
          <h5 class="alert-heading" [translate]="'FoundSignatures.Title'"></h5>
          <p [translate]="'FoundSignatures.Info'"></p>
          <hr>
          <p class="mb-0" [translate]="'FoundSignatures.Suggestion'"></p>
        </div>
        <!-- use index to handle more than one signatures in the file -->
        <ng-container *ngFor="let signature of signatureProperties; let i = index;">
          <div *ngIf="signature.valid else invalidSig">
            <h4>{{'FileContainsDigitalSignature' | translate }} {{ signature.subject.commonName }} / {{signature.signingDate}}
              <span class="text-success"> {{'ValidSignature' | translate}}</span>
            </h4>
          </div>
          <ng-template #invalidSig>
            <h4>{{'FileContainsDigitalSignature' | translate }} {{ signature.subject.commonName }} / {{signature.signingDate}}
              <span class="text-danger"> {{'InvalidSignature' | translate}}</span>
            </h4>
          </ng-template>
          <div class="accordion p-3" [attr.id]="'signaturesAccordition' + i">
            <div class="card">
              <div class="card-header" [attr.id]="'headingOne' + i">
                <h2 class="mb-0">
                  <button class="btn btn-indigo text-left" type="button" data-toggle="collapse" [attr.data-target]="'#collapseOne' + i" aria-expanded="true" aria-controls="collapseOne">
                    {{ 'SubjectInfo' | translate }}
                  </button>
                </h2>
              </div>
              <div [attr.id]="'collapseOne' + i" class="collapse show" aria-labelledby="headingOne" [attr.data-parent]="'#signaturesAccordition' + i">
                <div class="card-body">
                  <div *ngFor="let attribute of DNAttributesLocales" class="row font-lg">
                    <div *ngIf="signature.subject && signature.subject[attribute.attribute]">
                      <div class="flex-sm-column flex-wrap p-2">
                        <span class="text-indigo col-4">{{attribute.locale | translate}}:&nbsp; <span class="text-dark">{{signature.subject[attribute.attribute]}}</span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" [attr.id]="'headingTwo' + i">
                <h2 class="mb-0">
                  <button class="btn btn-indigo text-left collapsed" type="button" data-toggle="collapse" [attr.data-target]="'#collapseTwo' + i" aria-expanded="false" aria-controls="collapseTwo">
                    {{ 'IssuerInfo' | translate }}
                  </button>
                </h2>
              </div>
              <div [attr.id]="'collapseTwo' + i" class="collapse" aria-labelledby="headingTwo" [attr.data-parent]="'#signaturesAccordition' + i">
                <div class="card-body">
                  <div *ngFor="let attribute of DNAttributesLocales" class="row font-lg">
                    <div *ngIf="signature.issuer && signature.issuer[attribute.attribute]">
                      <div class="flex-sm-column flex-wrap p-2">
                        <span class="text-indigo col-4">{{attribute.locale | translate}}:&nbsp; <span class="text-dark">{{signature.issuer[attribute.attribute]}}</span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" [attr.id]="'headingThree' + i">
                <h2 class="mb-0">
                  <button class="btn btn-indigo text-left collapsed" type="button" data-toggle="collapse" [attr.data-target]="'#collapseThree' + i" aria-expanded="false" aria-controls="collapseThree">
                    {{ 'CertInfo' | translate }}
                  </button>
                </h2>
              </div>
              <div [attr.id]="'collapseThree' + i" class="collapse" aria-labelledby="headingThree" [attr.data-parent]="'#signaturesAccordition' + i">
                <div class="card-body">
                  <div *ngFor="let attribute of certificateAttributeLocales" class="row font-lg">
                    <div *ngIf="signature && signature[attribute.attribute]">
                      <div class="flex-sm-column flex-wrap p-2">
                        <span class="text-indigo col-4">{{attribute.locale | translate}}:&nbsp; <span class="text-dark">{{attribute.isTranslatable ? (signature[attribute.attribute] | translate) : signature[attribute.attribute]}}</span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </ng-template>
  </div>
  <div class="modal-footer justify-content-end">
    <button [disabled]="okButtonDisabled" (click)="ok()" type="button" [ngClass]="okButtonClass">
      {{'Close' | translate}}
    </button>
  </div>
</div>
