<div>
    <div class="modal-header" *ngIf="modalTitle">
        <h5 class="modal-title">{{modalTitle | translate}}</h5>
      <div *ngIf="configureSignerService" class="ml-auto mr--6">
        <button (click)="toggleSignerSettings()" class="btn btn-default text-secondary">
          <i class="d-none fas fa-cog"></i> {{'Signer.Settings' | translate }}
        </button>
      </div>
        <button (click)="cancel()" [disabled]="loading"
                type="button" class="close" data-dismiss="modal" aria-label="Cancel">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body pt-0">
      <div [@fadeAnimation]="showSignerSettings" *ngIf="showSignerSettings">
        <universis-signer-settings (cancel)="onCancel($event)" ></universis-signer-settings>
      </div>
        <div class="row" *ngIf="lastError">
            <div class="col-12">
                <div class="alert alert-warning" role="alert">
                    <span>{{ 'Documents.SignError' | translate }}</span><br>
                    <small *ngIf="lastError.status >= 0" [translate]="'E' + lastError.status + '.message'"></small>
                    <small *ngIf="lastError.status == null">{{lastError.message}}</small>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="description">
            <div class="col-12 mb-3">
                <div class="text-justify">
                    {{description | translate}}
                </div>
            </div>
        </div>
        <div *ngIf="showDefaultDescription" class="row">
            <div class="col-12">
                <div *ngIf="items && items.length > 1" [translate]="'Requests.Edit.ActionMessage.Many'"  [translateParams]="items"></div>
                <div *ngIf="items && items.length === 1" [translate]="'Requests.Edit.ActionMessage.One'"></div>
                <div class="font-weight-bold text-danger" *ngIf="items && items.length <= 0" [translate]="'Requests.Edit.ActionMessage.None'"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 mt-4">
                <ng-container  *ngIf="signForm">
                    <formio #form [form]="signForm"
                            (change) = "onChange($event)"
                            [refresh] = "refreshForm"
                            (customEvent) = "onCustomEvent($event)"
                            (formLoad)="onFormLoad()"
                            [submission]="{ data: signFormData }">
                    </formio>
                </ng-container>
            </div>
            <ng-container *ngIf="showSignatureGraphic">
                <div class="col-lg-6 col-md-6">
                <!--begin: signature graphic-->
                <div class="mt-4">
                    <ngx-dropzone [multiple]="false" [accept]="'image/jpeg,image/jpg,image/bmp'"  (change)="onFileSelect($event)">
                    <ngx-dropzone-label style="z-index: 0" class="p-2">{{'Documents.UploadSignatureGraphic' | translate}}</ngx-dropzone-label>
                    <ngx-dropzone-image-preview [file]="f" *ngFor="let f of signatures" [removable]="true" (removed)="onFileRemove(f)">
                    </ngx-dropzone-image-preview>
                    </ngx-dropzone>
                    <div class="text-center mt-2">
                    <span class="text-muted" [translate]="'Documents.SignatureGraphicHelp'"></span>
                    </div>
                </div>
                </div>
            </ng-container>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="progress" #progress style="visibility: hidden">
                    <div class="progress-bar bg-indigo" role="progressbar" style="width: 1%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer justify-content-end">
        <button [disabled]="okButtonDisabled || loading || (items && items.length === 0)" (click)="ok()"
                type="button" [ngClass]="okButtonClass">
            {{okButtonText | translate}}
        </button>
        <button [disabled]="cancelButtonDisabled || loading"
                (click)="cancel()" type="button" [ngClass]="cancelButtonClass" data-dismiss="modal">
            {{cancelButtonText | translate}}
        </button>
    </div>
</div>
